# This folder contains a lot of user-specific files
# Rider plugins can also add their own files here
# Ignore everything except the files listed below
*

# Shared config that should be checked into git
!.name
!CSharpierPlugin.xml
!encodings.xml
!externalDependencies.xml
!indexLayout.xml
!prettier.xml
!vcs.xml